<a href="https://github.com/wvv8oo/silky" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="masthead">
    <h3 class="text-muted">Silky</h3>
    <nav>
        <ul class="nav nav-justified">
            <li class="active"><a href="/">主页</a></li>
            <li><a href="/post/getting-started-with-silky.html">快速入门</a></li>
            <li><a href="/post">文档</a></li>
            <li><a href="/post/plugins.html">插件</a></li>
            <li><a href="http://github.com/wvv8oo/silky" target="_blank">获取源码</a></li>
            <li><a href="/post/about-silky.html">关于Silky</a></li>
        </ul>
    </nav>
</div>